<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css" media="screen">
        @import url("/assets/css/home.css")
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">顧客管理</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/register">新規登録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/summary">一覧</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">

        <h1>メニュー</h1>
        <div class="menu_list d-flex justify-content-center">
            <form action="/register" class="col-4">
                <button class="trans_btn">
                    <h2 class="trans_title">新規登録</h2>
                    <p class="explanation">顧客を新規登録します。</p>
                </button>
            </form>
            <div class="col-1"></div>
            <form action="/summary" class="col-4">
                <button class="trans_btn">
                    <h2 class="trans_title">一覧</h2>
                    <p class="explanation">顧客の一覧を表示します。</p>
                </button>
            </form>
        </div>
    </div>
    
</body>
</html>