<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style type="text/css" media="screen">
        @import url("/assets/css/register.css")
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">顧客管理</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">新規登録</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/summary">一覧</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <h1>新規登録</h1>
        <form action="/register" method="POST">
            <h5>名前<small class="danger">必須</small></h5>
            <input type="text" name="name" size="40" value="{{ .params.Name }}"><br>
            <button class="btn btn-primary mt-3">確定</button>
        </form>
    </div>
</body>
</html>